body {
    margin: 0;
    overflow: hidden;
    background-image: url('');
    background-size: auto;
    background-repeat: no-repeat;
}

#root{
    position: relative;
}

.login-main{
    font-family: 'Permanent Marker', cursive;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #2C2F33;
}

.login-card{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    top: calc(50vh - 250px);
    left: calc(50vw - 175px);
    border: 2px solid black;
    border-radius: 6px;
    height: 500px;
    width: 350px;
    background-color: #0b97c4;
}

.login-submit{
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: 35px;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 0 0 6px black;
    margin: 50%;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-evenly;
}

#login-user{

}

#login-password{
    margin-top: 10px;
}

#btn-login{
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    background-color: #7289DA;
    box-shadow: inset 0 0 2px gray;
    border: solid 1px black;
}

